<div class="help-text">

  <p>Unless you have an administrative role<br> 
  (<em>essentially, unless you are Barb, Jane, or Sharon</em>)<br>you do NOT need to log-in or sign-up to use this site.</p>

</div>