<h1>Agape Ladies Class</h1>
<a href="https://www.flickr.com/photos/24557420@N05/14399402600/in/photolist-nWqGJ5-dsZUUr-9wKaVd-2Py89-kcprBx-rhbBjU-nZDqqU-86jn3e-a7gTHh-o3jqjd-eszce3-f8ZVaU-o8nVHc-bnynBt-rB2HxB-JH23S-hGrqE-6AtiZb-efeWSo-btjMkc-7Xqhqy-ugx5Mx-eekTNE-rNRMqH-7iv3Ny-pEyHTE-FEq15-q5Nrbk-mD7UMx-nocjDr-rHCSMU-o7dYuy-6AK98Y-nPuDDM-nCkUvD-7v3Jfd-vPLo6o-noRwTV-cwHU8S-bv2Fa9-4Y6ekb-nQGXAY-nQCVea-ahqG3D-y8ALii-cWEdSN-8mz6yu-adVWaz-znxnn6-o1tTtD"><p>Consider daisies image for header:</p></a>

<p>Add links to:</p>

<ul>
  <li>Prayer Requests</li>
  <li>Sunday Lesson </li>
  <li>Email directory</li>
  <li>Spiritual Walk</li>
  <li>Everything Social</li>
  <li>Brentwood News</li>
</ul>
