<div class="hero">
  <div class="hero-inner">
      <div class="hero-copy">
      <h1>Agape Ladies Sunday School Class</h1>
      <p>Brentwood Baptist Church</p>
    </div>
  </div>
</div>

<div class="links">
  <div class="first_right">
    <p>Prayer Requests      Sunday Lesson</p>
  </div>

  <div class="third_right">
    <p>Spiritual Walk</p>
  </div>

  <div class="fourth_right">
    <p>Everything Social</p>
  </div>

  <div class="fifth_right">
    <p>Email Directory</p>
  </div>

  <div class="sixth_right">
    <p>Brentwood News</p>
  </div>
</div>
