.header {

  padding: 20px;
  border-bottom: 1px solid white;
  a {
   color: white;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 15px;
    }
  }



}

