.top_image {
  img {
    padding: 2px 0px 5px 0px;
    border-bottom: 1.5px solid white;
  }
}

.add_new {
  @include span-columns(9);
  @include shift(1.5);
  margin-top: 25px;
}

.prayer_requests {
  @include span-columns(9);
  @include shift(1.5);
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 25px;
  border-radius: 5px;
  max-width: 75%;
  background-color: #F1F8F7;
  color: $dark-blue;

  .request_content {
    color: $dark-gray;
  }
  .posted_by {
    float: right;
    padding: 5px;
  }

  .bold {
    font-weight: 700;
  }
}

.add_prayer {
  @include outer-container;

  .add_prayer_left {
    @include span-columns(6);
    img {
    max-width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    border: 1px solid white;
    }
  }

  .add_prayer_right {
    @include span-columns(6);
    margin-top: 65px;
    .prayer {
    max-width: 85%;
    margin-top: 10px;
    margin-left: 10px;
    }
  }
}




