body {
  background-color: $welcome-background-color;
  color: white;

}

.outer_links {
  @include outer-container;
  
  p {
    display: inline;
    font-size: 2em;
    color: white;
    line-height: 3em;
  }

  a {
    color: white;
      &:hover,
      &:focus {
    background-color: $welcome-background-color;
    color: #001359;
    }
  }

  .links {
    @include span-columns(10);
    @include shift(2.5);

    .links_left,
    .links_right {
      @include span-columns(4);
      padding-top: 2.5em;
      text-align: center;
    }
  }
}


.help-text {
  max-width: 50%;
  background-color: white;
  color: $dark-blue;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

