


body {
  background-color: $welcome-background-color;
  color: white;
}

.links {
  @include outer-container;
  p {
    display: inline;
    font-size: 1.25em;
  }

  .first_right {
    @include span-columns(9);
    @include shift(3);
    @include omega();
    padding-top: 2.25em;
  }
  .second_right {
    @include span-columns(10);
    @include shift(2);
    @include omega();
    padding-top: 2.25em;
  }
  .third_right {
    @include span-columns(9);
    @include shift(3);
    @include omega();
    padding-top: 2.25em;
  }
  .fourth_right {
    @include span-columns(8);
    @include shift(4);
    @include omega();
    padding-top: 2.25em;
  }
  .fifth_right {
    @include span-columns(7);
    @include shift(5);
    @include omega();
    padding-top: 2.25em;
  }
  .sixth_right {
    @include span-columns(6);
    @include shift(6);
    @include omega();
    padding-top: 2.25em;
  }
}
