<div class="directory_top">

  <div class="directory_top_left">
    <%= image_tag("Typing.jpg", :alt => "Stuffed monkey using vintage typewriter") %>
  </div>
  <div class="directory_top_right">
   <h1>Email Directory</h1>
  </div>

</div>

<div class="directory_bottom">
  <div class="directory_right">
    <table>
      <tr>
        <th>Name</th>
        <th>Email Address</th>
      </tr>

    <% @emails.each do |email| %>
      <tr>
        <td><%= email.name %></td>
        <td><%= email.address %></td>
      </tr>
    <% end %>
  </div>
</div>

<!-- <div class="directory_right">
  <%= button_to "Add or update email information", new_email_path, :class => "button" "main", :method => :get %>
</div> -->

